*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}

.container{
    width: 400px;
    height: 300px;
    border-radius: 10px;
    text-align: center;
    padding-top: 30px;
    background-color: grey;
}