*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}

.container{
    width: 400px;
    height: 350px;
    border-radius: 10px;
    padding-left: 50px;
    padding-top: 50px;
    text-align: center;
    padding-top: 30px;
    background-color: grey;
    box-shadow: 0 0 20px white;
}

.box{
    width: 300px;
    height: 300px;
    border-radius: 10px;
    align-content: center;
    background-color: rgb(95, 105, 102);
    box-shadow: 0 0 20px white;
}

#head{
    font-size: 30px;
    font-weight: 600;
}


#inputtext{
    width: 180px;
    height: 30px;
    text-align: center;
    border-radius: 20px;
    border: 3px solid grey;
}

input::placeholder{
    color: black;
    font-weight: 550;
}

#QR{
    width: 100px;
    height: 25px;
    border-radius: 20px;
    font-weight: 600;
    border: 3px solid grey;
    outline: none;
}

#QR:hover{
    background-color:grey ;
    color: white;
    font-weight: 600;
}


.image-container{
    padding: 10px;
}